#btn {
    background: none;
    border: none;
    font-size: 40px;
    font-family: 'Arial Black', sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
}

#btn:hover {
    background: none;
    transform: scale(1.05);
}

#btn:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
